In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.

import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\RJame\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'], axis =1) # This time: only drop 'EIN' and keep 'NAME'
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for bining.
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type.head()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type.loc[application_type.values < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_only_1 = classification_counts[classification_counts >1]
classification_counts_only_1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts.loc[classification_counts.values < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Anlayse the 'NAME' value counts for binning
    # Binning refers to the process of grouping or categorising data ito discrete intervals.
name_count = application_df['NAME'].value_counts()
name_count.head(30)

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: NAME, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaces
names_to_replace = list(name_count[name_count < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [11]:
# Convert categorical data to numeric with 'pd.get_dummies'
application_numeric = pd.get_dummies(application_df)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
# Break up into 'X' and 'y' variables
X = application_numeric.drop("IS_SUCCESSFUL", axis = 1)
y = application_numeric["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer0 = 80
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer0,
    input_dim = len(X_train.columns),
    activation = "relu"
))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer1,
    activation = "relu"
))

# Third hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer2,
    activation = "tanh" 
    # "tanh" transforms the output to a range between -1 and 1.
))

# Output layer
nn.add(tf.keras.layers.Dense(
    units = 1,
    activation = "sigmoid"
))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\RJame\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 9071 (35.43 KB)
Trainable params: 9071 (35.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(
    loss = 'binary_crossentropy',
    optimizer = 'adam',
    metrics = ['accuracy']
)

WARNING:tensorflow:From C:\Users\RJame\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs = 100
)

Epoch 1/100
WARNING:tensorflow:From C:\Users\RJame\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\RJame\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 4s 3ms/step - loss: 0.5113 - accuracy: 0.7470
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4937 - accuracy: 0.7575
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4907 - accuracy: 0.7577
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4888 - accuracy: 0.7589
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4875 - accuracy: 0.7597
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4861 - accuracy: 0.7601
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4859 - accuracy: 0.7607
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4842 - accuracy: 0.7616
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4841 - accuracy: 0.7622
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4829 - accuracy: 0.7612
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4829 - accuracy: 0.7626
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4823 - accuracy: 0.7619
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4813 - accuracy: 0.7636
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4810 - accuracy: 0.7629
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4809 - accuracy: 0.7625
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4800 - accuracy: 0.7638
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4801 - accuracy: 0.7622
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7640
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4789 - accuracy: 0.7634
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4787 - accuracy: 0.7634
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4784 - accuracy: 0.7643
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4781 - accuracy: 0.7632
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4775 - accuracy: 0.7644
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4771 - accuracy: 0.7661
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4767 - accuracy: 0.7673
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4768 - accuracy: 0.7643
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4763 - accuracy: 0.7657
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4759 - accuracy: 0.7648
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4757 - accuracy: 0.7661
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4755 - accuracy: 0.7655
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4751 - accuracy: 0.7662
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4752 - accuracy: 0.7661
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4749 - accuracy: 0.7664
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4746 - accuracy: 0.7649
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4747 - accuracy: 0.7667
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4741 - accuracy: 0.7674
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4741 - accuracy: 0.7671
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4742 - accuracy: 0.7658
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4739 - accuracy: 0.7657
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4736 - accuracy: 0.7656
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4735 - accuracy: 0.7673
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4741 - accuracy: 0.7669
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4738 - accuracy: 0.7682
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4734 - accuracy: 0.7652
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4734 - accuracy: 0.7664
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4731 - accuracy: 0.7664
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4730 - accuracy: 0.7668
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4731 - accuracy: 0.7676
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4734 - accuracy: 0.7673
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4733 - accuracy: 0.7664
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4730 - accuracy: 0.7671
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7673
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4726 - accuracy: 0.7672
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7671
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4724 - accuracy: 0.7669
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4720 - accuracy: 0.7668
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7672
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4717 - accuracy: 0.7666
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4719 - accuracy: 0.7672
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4712 - accuracy: 0.7673
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7680
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7660
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7667
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4712 - accuracy: 0.7678
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4710 - accuracy: 0.7655
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4710 - accuracy: 0.7683
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7685
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4711 - accuracy: 0.7678
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4708 - accuracy: 0.7681
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4717 - accuracy: 0.7674
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4710 - accuracy: 0.7676
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4704 - accuracy: 0.7685
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4707 - accuracy: 0.7680
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7678
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4707 - accuracy: 0.7679
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7671
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4704 - accuracy: 0.7689
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4703 - accuracy: 0.7680
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4701 - accuracy: 0.7680
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4704 - accuracy: 0.7678
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7681
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4706 - accuracy: 0.7659
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4698 - accuracy: 0.7687
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4702 - accuracy: 0.7676
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4700 - accuracy: 0.7682
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4700 - accuracy: 0.7678
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4697 - accuracy: 0.7687
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4702 - accuracy: 0.7688
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4697 - accuracy: 0.7688
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4697 - accuracy: 0.7685
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4697 - accuracy: 0.7679
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4692 - accuracy: 0.7683
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4696 - accuracy: 0.7688
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4695 - accuracy: 0.7671
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7681
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7681
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4720 - accuracy: 0.7656
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4708 - accuracy: 0.7662
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4687 - accuracy: 0.7692
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7682

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5078 - accuracy: 0.7521 - 735ms/epoch - 3ms/step
Loss: 0.5077678561210632, Accuracy: 0.7520699501037598

In [ ]:
# Export our model to HDF5 file
nn.save('models/AlphabetSoupCharity_Optimiser.h5', save_format='h5')